/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(51, 51, 51, 0.61);
    overflow: hidden;
    position: sticky;
    top: 0px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #FF5F1F;
    color: black;
  }
