CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
        -webkit-tap-highlight-color: transparent;
}

button, button:before {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 25px;
    background-image: url("");
    background-size: 150%;
    background-position: left;
    transition: 1s;
}

button:before {
    width: 150px;
    height: 50px;
    content: '';
    text-emphasis-color: rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1)    ;  
    border-radius: 25px;
    position: absolute;
    transition: 500ms;
}

button:hover:before {
    background: #FF5F1F; 
    text-shadow: 1px 1px 1px black;
}

button:hover {
    background-position: center;
    box-shadow: 0px 0px 20px #FF5F1F;
    content: '';
    text-emphasis-color: rgba(0, 0, 0, 0.1);
}

button:focus {
    outline: none;
}

/*<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="hazard.css">*/
/*<link rel="stylesheet" type="text/css" href="orangeglow.css" >*/
/*<button class="orangeglow"></button> */